<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Accueil</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<header>
			<h1 id="alex"><a href="accueil">Les Escapades d'Alex</a></h1>
			<ul id="menuH">
				<li><a href="nightlife">NightLife</a></li>
				<li><a href="culture">Culture</a></li>
				<li><a href="bonPlan">Bon Plans</a></li>
				<li><a href="ressources">Ressources</a></li>
			</ul>
		</header>
		<section id="accueil">
			<p id="texteIntro">Habitant Lille depuis d&eacutesormais 5 ans, j'ai d&eacutecid&eacute de cr&eacuteer un petit guide du bon lillois, afin de venir en aide aux nouveaux arrivants sur la m&eacutetropole. Ce guide a &eacutet&eacute con&ccedilu de mani&egravere totalement subjective, vous y retrouverez des adresses qui m'ont personnellement satisfaites au cours de mes escapades.</p>
		</section>
	</body>
</html>