<html>
	<head>
		<title>Nightlife</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<header>
			<h1 id="alex"><a href="accueil">Les Escapades d'Alex</a></h1>
			<ul id="menuH">
			<li><a href="nightlife">NightLife</a></li>
			<li><a href="culture">Culture</a></li>
			<li><a href="bonPlan">Bon Plans</a></li>
			<li><a href="ressources">Ressources</a></li>
			</ul>
			
		</header>
		<section id="nightlife">
			<h1 class="restaurants">Restaurants</h1>
			<ul >
				<li class="etab"><a href="https://www.tripadvisor.fr/Restaurant_Review-g187178-d3208062-Reviews-Chez_Max-Lille_Nord_Hauts_de_France.html" target="_blank">Chez Max</a></li>
				<li class="descriptif">Ce restaurant situ&eacute sur la rue Solf&eacuterino vous proposera des plats<br> de qualit&eacute dans une ambiance conviviale</a></li>
				<li class="etab"><a href="https://www.tripadvisor.fr/Restaurant_Review-g187178-d1061657-Reviews-La_tete_de_Boeuf-Lille_Nord_Hauts_de_France.html" target="_blank">La T&ecircte de Boeuf</a></li>
				<li class="descriptif">Ce restaurant est sp&eacutecialis&eacute en viande, &agrave des prix d&eacutefiant<br> toute concurrence</li>
				<li class="etab"><a href="https://www.tripadvisor.fr/Restaurant_Review-g187178-d7771300-Reviews-PANCOOK_Lille-Lille_Nord_Hauts_de_France.html" target="_blank">Pancook</a></li>
				<li class="descriptif">Retrouver des sp&eacutecialit&eacutes locales, pr&eacutesent&eacutees de mani&egravere originale<br> dans des boules de pain</li>
			</ul>
			<h1 class="restaurants">Bars</h1>
			<ul >
				<li class="etab"><a href="https://www.tripadvisor.fr/Restaurant_Review-g187178-d3431136-Reviews-La_Capsule-Lille_Nord_Hauts_de_France.html" target="_blank">La Capsule</a></li>
				<li class="descriptif">Au coeur du Vieux-Lille, ce bar vous propose un large choix</br> de bi&eagraveres et de whisky</li>
				<li class="etab"><a href="https://www.tripadvisor.fr/Restaurant_Review-g187178-d6610714-Reviews-L_Imaginaire-Lille_Nord_Hauts_de_France.html" target="_blank">L'Imaginaire</a></li>
				<li class="descriptif">Venez d&eacuteguster une bi&egravere sur la plus belle terrasse de Lille, donnant vue sur la<br> cath&eacutedrale Notre Dame de Treille</li>
				<li class="etab"><a href="https://www.tripadvisor.fr/Restaurant_Review-g187178-d1319914-Reviews-La_Cloche-Lille_Nord_Hauts_de_France.html" target="_blank">La Cloche</a></li>
				<li class="descriptif">Rendez-vous sur cette belle terrasse place de l'Op&eacutera pour boire une bi&egravere en vous r&eacutechauffant</li>
			</ul>
		</section>
	</body>
</html>