<html>
	<head>
		<title>Ressources</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" media="screen and (max-width:1314px") type="text/css" href="screen-less1314.css">
	</head>
	<body>
		<header>
			<h1 id="alex"><a href="accueil">Les Escapades d'Alex</a></h1>
			<ul id="menuH">
			<li><a href="nightlife">NightLife</a></li>
			<li><a href="culture">Culture</a></li>
			<li><a href="bonPlan">Bon Plans</a></li>
			<li><a href="ressources">Ressources</a></li>
			</ul>
			
		</header>
		<section id="ressources">
			<a href="https://www.facebook.com/VozerNord/" target="_blank"><img src="img/facebook.png" id="fb"></a>
			<a href="https://twitter.com/lillemaville?lang=fr" target="_blank"><img src="img/twitter.png" id="twitter"></a>
			<a href="https://www.instagram.com/lechti2017/" target="_blank"><img src="img/insta.png" id="insta"></a>
		</section>
	</body>
</html>